/*html{
  font-family: 'Raleway', sans-serif;
  padding: 3em 2em;
  font-size: 18px;
  background: white;
  color: black;
  overflow: hidden;
}

body{
  font-family: 'Raleway', sans-serif;
  padding: 3em 2em;
  font-size: 18px;
  background: white;
  color: black;
}

h1 {
  font-weight: 200;
  margin: 0.4em 0;
  font-size: 3.5em;
}

.line-1{
  position: relative;
  top: auto;
  margin:0 auto;
  text-align: left;
  overflow:hidden;
}

@keyframes typing {
  from {width: 0;}
  to {width:100%;}
}

@keyframes blink-caret {
  from, to {border-color:transparent}
  50% {border-color: black;}
}*/
body {
  background-color:#ce3635;
  text-align: center;
  color:#fff;
  padding-top:10em;
}

* { color:#fff; text